<div>

  <%= image_tag @game.game_image %>

  <h2 class="py-3"><%= @game.game_name %></h2>

  <%= @game.game_introduction %>

  <%# ジャンル・プラットフォーム追加 %>

  <p class="py-2">価格：¥<%= @game.price %></p>

  <%# レビュー追加 %>

</div>